html{
    height: 100%;
}

body{
    background: url() no-repeat center center fixed;
    background-size: cover;
    height: calc(100vh - 164px);
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}