 <li class="list-inline-item dropdown nav-item">
                <a class="text-black nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <div class="text-center">
                        <p class="my-0">SHO3P</p>
                    </div>
                </a>
                <div class="dropdown-menu border-0" aria-labelledby="user-options">
                    <a href="{% url 'products' %}?category=new" class="dropdown-item">
                        NEW
                    </a>
                    <a href="{% url 'products' %}?category=best_sellers" class="dropdown-item">
                        BEST SELLERS
                    </a>
                    <a href="{% url 'products' %}?category=bags" class="dropdown-item">
                        BAGS
                    </a>
                    <a href="{% url 'products' %}?category=coats_jackets" class="dropdown-item">
                        COATS + JACKETS
                    </a>
                    <a href="{% url 'products' %}?category=dresses" class="dropdown-item">
                        DRESSES
                    </a>
                    <a href="{% url 'products' %}?category=hoodies_sweatshirts" class="dropdown-item">
                        HOODIES + SWEATSHIRTS
                    </a>
                    <a href="{% url 'products' %}?category=pants" class="dropdown-item">
                        PANTS
                    </a>
                    <a href="{% url 'products' %}?category=shorts" class="dropdown-item">
                        SHORTS
                    </a>
                    <a href="{% url 'products' %}?category=skirts" class="dropdown-item">
                        SKIRTS
                    </a>
                    <a href="{% url 'products' %}?category=tops" class="dropdown-item">
                        TOPS
                    </a>
                    <a href="{% url 'products' %}?category=coats_jackets,dresses,hoodies_sweatshirts,pants,shorts,skirts,tops" class="dropdown-item">
                        ALL CLOTHING
                    </a>
                    <a href="{% url 'products' %}?category=new" class="dropdown-item">
                        NEW
                    </a>
                    <a href="{% url 'products' %}?category=best_sellers" class="dropdown-item">
                        BEST SELLERS
                    </a>
                    <a href="{% url 'products' %}?category=bags" class="dropdown-item">
                        BAGS
                    </a>
                        <a href="{% url 'products' %}?category=swim" class="dropdown-item">
                        SWIM
                    </a>
                    <a href="{% url 'products' %}?category=accessories" class="dropdown-item">
                        ACCESSORIES
                    </a>
                </div>
            </li>