{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container">
    <div class="row">
        <div class="col">
            {{ products }}
            <p>TESTER -- ALL CLOTHING PAGE</p>
        </div>
    </div>
</div>
{% endblock %}

{% block content%}

{% for product in products %}

<div class="card" style="width: 18rem;">
    {% if product.image %}
    <a href="{% url 'product_detail' product.id %}">
        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
    </a>
    {% else %}
    <a href="{% url 'product_detail' product.id %}">
        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
    </a>
    {% endif %}
    <div class="card-body">
        <p class="card-text">{{ product.name }} - {{product.colour}}</p>
        <p>£{{product.price}} GBP</p>
    </div>
</div>

{% endfor %}

{% endblock %}